version: "3.9"

services:
  web:
    build: .
    ports:
      - "5050:5050"
    volumes:
      - .:/app
    environment:
      - POSTGRES_DB=report
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_DB: report
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
