body {
 background-color: #f1f8f4;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: #222;
 margin: 0;
 padding: 2rem;
 font-size: x-large;
}

form {
 background-color: #ffffff;
 padding: 1.5rem 2rem;
 border-radius: 12px;
 box-shadow: 0 0 15px rgba(0, 50, 0, 0.05);
 width: 400px;
 margin-bottom: 2rem;
}

h2, h3 {
 color: #2e7d32;
 margin-bottom: 1rem;
}

label {
 display: block;
 margin-top: 1rem;
 font-weight: 500;
}

input[type="text"] {
 width: 100%;
 padding: 0.5rem;
 border: 1px solid #ccc;
 border-radius: 6px;
 margin-top: 0.3rem;
}

input[type="submit"] {
 margin-top: 1.5rem;
 width: 100%;
 padding: 0.6rem;
 background-color: #9defab;
 border: none;
 border-radius: 6px;
 color: #113a12;
 font-weight: bold;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
 background-color: #81c784;
}

ul {
 list-style: none;
 padding-left: 0;
}

li {
 margin-bottom: 0.8rem;
 font-size: 1.5rem;
}

a {
 text-decoration: none;
 color: #2e7d32;
}

a:hover {
 text-decoration: underline;
}

.link {
 margin-top: 2rem;
}

.delete-btn {
 background-color: #81c784;
 color: #113a12;
 border: none;
 padding: 8px 16px;
 border-radius: 6px;
 font-size: 14px;
 cursor: pointer;
 transition: background-color 0.2s ease;
}

.delete-btn:hover {
 background-color: #66bb6a;
}

.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: transparent;
 border: 2px solid #4CAF50;
 border-radius: 34px;
 transition: 0.4s;
 box-sizing: border-box;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 2px;
 top: 2px;
 background-color: #81c784;
 border-radius: 50%;
 transition: 0.4s;
}

.switch input:checked + .slider:before {
 transform: translateX(26px);
}

.switch input:focus + .slider {
 box-shadow: 0 0 1px #4CAF50;
}

.switch-label {
 display: flex;
 align-items: center;
 gap: 12px;
 margin-bottom: 1em;
}

.label-text {
 font-weight: bold;
}
